# Visual Studio ile ilgili klasör ve dosyalar
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Derleme çıktıları
*.exe
*.dll
*.pdb
*.cache
*.log

# Geçici dosyalar
*.tmp
*.temp
*.bak

# Paketler ve yayın
packages/
*.nupkg

# Ayarlar ve kişisel dosyalar
*.ide
.idea/
.vscode/

# Git ile ilgili özel ayarlar
.gitignore